---
import { Select } from 'webcoreui/astro';

const locale = Astro.cookies.get('locale')?.value || 'en-EN';
---

<header>
    <h1>Huncwot loves Astro &lt;3</h1>
    <Select
        className='select'
        name='select-language'
        label='Select language'
        value={locale}
        position='bottom'
        itemGroups={[
            {
                // title: 'Languages',
                items: [
                    {
                        name: 'English',
                        value: 'en-US',
                    },
                    {
                        name: 'Polish',
                        value: 'pl-PL',
                    },
                    {
                        name: 'German',
                        value: 'de-DE',
                    },
                    {
                        name: 'Spanish',
                        value: 'es-ES',
                    },
                ],
            },
        ]}
        showSearchBar={false}
        showSearchBarIcon={false}
        searchBarPlaceholder='Filter options'
    />
</header>

<script>
    import { listen } from 'webcoreui';
    import Cookies from 'js-cookie';

    listen('selectOnChange', event => {
        Cookies.set('locale', event.value);
        document.location.reload();
    });
</script>

<style>
    header {
        padding: 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
            width: 24ch;
        }
    }

    h1 {
        width: fit-content;
    }
</style>
