---
import Background from '../assets/svg/background.svg'; // just import svg as a component, that's it

// const pagesURL = 'https://payload-cms-template-env-v3-snshp.vercel.app/cms/api/pages';
const pagesURL = 'http://localhost:3000/cms/api/pages';
const res = await fetch(pagesURL);
const pagesData = await res.json();
const { docs: pages } = pagesData;

const links: string[] = pages.map(({ slug }: { slug: string }) => slug);
console.log({ links });
---

<div id='container'>
    <!-- any svg component can be manually broken out of the default (sprite vs
        inline) behavior set in the config -->
    <Background id='background' mode='inline' />
    <main>
        <h1>Intro</h1>
        <p>Navigate to one of available pages:</p>
        <ul>
            {
                links.map(link => (
                    <li>
                        <a href={`/${link}`}>{link}</a>
                    </li>
                ))
            }
        </ul>
    </main>
</div>

<style>
    #background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(100px);
    }

    #container {
        font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
        height: 100%;
    }
</style>
