---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/Header.astro';
import '../../styles/base.scss';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
    <Header />
    <main>
        <!-- otther  -->
        <slot />
    </main>
</BaseLayout>
